{minimum_otp_vsn, "19.3"}. % see also .envrc

{plugins, [
    {rebar3_gpb_plugin, "2.12.5"}
]}.

{deps, [
    {lager,             ".*",   {git, "https://github.com/erlang-lager/lager.git",      {tag, "3.6.8"}}},
    {gpb,               ".*",   {git, "git://github.com/tomas-abrahamsson/gpb.git",     {tag, "4.10.5"}}},
    {ranch,             ".*",   {git, "git://github.com/ninenines/ranch",               {tag, "1.7.1"}}},
	{recon, 		    ".*",   {git, "git://github.com/ferd/recon.git", 				{tag, "2.5.0"}}},
    {vsn_transform,     ".*",   {git, "git://github.com/electricimp/vsn_transform.git", {branch, "master"}}}
]}.

{relx, [{release, { erl_playground, "1.0.0" }, [
          	lager,
            gpb,
            vsn_transform,
            {erl_playground, "1.0.0", '='},
            {ranch, load},
            sasl
		]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
    	{generate_start_script, true},
        {extended_start_script, true},

        {overlay, [
        	{mkdir, "log/sasl"},
        	{mkdir, "releases/{{release_version}}/config"},
        	{template, "config/sys.config", "releases/{{release_version}}/sys.config"},
        	{template, "config/sasl.config", "releases/{{release_version}}/config/sasl.config"},
        	{template, "config/lager.config", "releases/{{release_version}}/config/lager.config"}
        ]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
