{erl_opts, [
    %{i, "_build/default/lib"},
    {i, "_build/default/lib/gpb/include"},
    {parse_transform, lager_transform},
    {parse_transform, vsn_transform},
    {vsn_command, "git describe --tags"},
    %bin_opt_info
    debug_info,
    warn_export_all,
    warn_export_vars,
    %warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    warn_shadow_vars,
    {platform_define, "^1[89]", post17},
    {platform_define, "^2", post17},
    {platform_define, "^[2-9]", post19}
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{gpb_opts, [{i, "proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs,
    {verify, always}]}.
