[
 	{lager, [
        % Available levels: debug, info, notice, warning, error, critical, alert, emergency
        {error_logger_hwm, 1000},
        {handlers, [
            {lager_console_backend, [
                info, {
	                lager_default_formatter,
	                ["[", date, " ", time, "] [", color, severity, "\e[0m", ", from ", module, ":", function, ":", pid, "] ",
	                color,
	                message, "\e[0m", "\n"]
                }
            ]},
            {lager_file_backend, [
                {file, "log/lager_error.log"},
                {level, error},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "log/lager_notice.log"},
                {level, notice},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]}
        ]},
        {colored, true}
    ]}
].
