[
%%    "releases/{{release_version}}/config/sasl.config",
    "releases/{{release_version}}/config/lager.config",

 	{erl_playground, [
 		{boot_mode, client_server},
 		{tcp_host, "127.0.0.1"},
 		{tcp_port, 9900},
 		{max_connections, 100},
		{operator_timeout, 10000},
		{operator_max_requests, 3},
		{operator_pool_size, 2},
		{operator_pool_timeout, 5000}
 	]}
].
